body {
    padding: 0;
    margin: 0;
}

#map {
    height: 50vh;
}

.wrapper{
    position:relative;
    width:100%;
    height:100%;
}

.infoPlacholder {
    position: absolute;
    top: 0;
    padding: 15px;
    z-index: 1337;
    background-color: #FFF;
    text-align: center;
}

.infoPlacholder p {
    padding: 0;
    margin: 0;
}

div#timer {
    font-size: 18px;
    font-weight: 800;
}